﻿@{
	ViewBag.Title = "Print Jobs";
}


<div id="printJobs-grid"></div>


@section JS {
	<script type="text/javascript">
		var $printJobsGrid = $('#printJobs-grid'),

			buttonCancelHandler = function (e) {
				e.preventDefault();

				var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

				if (!confirm('Are you sure you wish to discontinue "' + dataItem.Name + '"?')) {
					return;
				}

				franwell.submitData({
					url: '@Url.ActionApi("Archive", "PrintJobsApi")',
					data: { '': dataItem.Id },
					success: function () {
						window.printJobsDataSource.read();
					}
				});
			},
			
			extendedColumns = franwell.gridcolumns.printJobs.slice();


		extendedColumns.push({
			command: { text: 'Cancel Job', click: buttonCancelHandler },
			attributes: { 'class': 'text-center text-size-80' },
			width: '1px'
		});

		window.printJobsDataSource = franwell.kendo.serverDataSource({
			url: '@Url.ActionApi("GetPagedList", "PrintJobsApi")',
			model: franwell.gridschemas.printJobs
		});
		$printJobsGrid.franwellGrid({
			dataSource: window.printJobsDataSource,
			columns: extendedColumns
		});
		window.printJobsDataSource.read();
	</script>
}