.page-header {
	border: 0;
	padding-top: 20px;
}

.login-content {
	position: relative;
}

.content {
	color: #FFF;
	min-height: 175px;
	padding-top: 75px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.content a {
	color: #FFF;
}

#password-reset {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.btn-group {
	padding-top: 22px;
}

.row-spacer {
	padding-bottom: 20px;
}