html, body {
	height: 100%;
}

body {
	background-image: url("../images/background.svg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar .nav > .active.active-page > a {
	background-color: #444 !important;
	border-radius: 3px;
}

.dropdown-menu > .active.active-page > a {
	font-weight: bold;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > .active.active-page > a:hover {
	background: #00a1f2;
}

.dropdown-toggle {
	cursor: pointer;
}

.dropdown-menu .caret {
	display: none;
}

.spinner {
	position: fixed !important;
}

.actions {
	background-color: #f5f5f5;
	border-top: 1px solid #DDD;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 17px 20px 18px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.required {
	color: red;
}

.title {
	color: #FFF;
	margin-top: 50px;
	text-shadow: #333 1px 1px 3px;
}

.blackgray-gradient {
	background: #7d7e7d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	/* IE6-9 */
}

.inner {
	-moz-box-shadow: 0px 3px 3px #000;
	-webkit-box-shadow: 0px 3px 3px #000;
	box-shadow: 0px 3px 3px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	background: #7d7e7d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	/* IE6-9 */
}

.shadow {
	-moz-box-shadow: 0px 3px 3px #000 !important;
	-webkit-box-shadow: 0px 3px 3px #000 !important;
	box-shadow: 0px 3px 3px #000 !important;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')" !important;
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000') !important;
}

.navbar-inner {
	background-color: #0e0e0e;
}

.locations-dropdown {
	position: fixed;
	top: 42px;
	right: 0;
	z-index: 1000;
}

.locations-dropdown.open {
	bottom: 60px;
}

.locations-dropdown > .dropdown-menu {
	top: 31px;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: visible;
}

.profiler-results {
	top: 75px !important;
	z-index: 999 !important;
}

.profiler-queries-bg {
	z-index: 998 !important;
}

input:focus,
textarea:focus {
	border-color: rgba(71, 169, 36, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(71, 169, 36, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(71, 169, 36, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(71, 169, 36, 0.6);
	outline: 0;
	outline: thin dotted \9;
}

/* alerts */
#user-alerts {
	/*margin-top: 50px;*/
	background-color: #F2DEDE;
	font-size: 120%;
	position: fixed;
	left: 50%;
	margin-left: -400px;
	top: 110px;
	width: 800px;
	z-index: 100002;
}

#user-alerts > .alert {
	border: 1px solid #e0b3b2;
	margin-bottom: 0;
}

#session_timeout_alert {
	display: none;
	position: fixed;
	padding: 30px 0 50px 0;
	margin-left: -325px;
	left: 50%;
	top: 30%;
	width: 600px;
	z-index: 100003;
}

.nav-tabs-separator {
	height: 5px;
	width: 10px;
}

.k-window-title {
	font-weight: bold;
}

.dl-container {
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
}

.grid-no-data {
	font-size: 2em;
	font-family: "Segoe UI", Arial, Sans-Serif;
	color: #777;
	margin: 5px;
}

.k-grid {
	min-width: 900px;
}

.grid-finished-row {
	color: #888;
	font-size: 90%;
}

.grid-finished-row.k-state-selected {
	color: #BBB;
}

.grid-failed-row,
.grid-voided-row {
	color: #C00;
	font-size: 90%;
}

.grid-failed-row.k-state-selected,
.grid-voided-row.k-state-selected {
	color: #FCC;
}

.maintenance-alert {
	/*margin: 100px auto -30px auto;
	width: 750px;*/
	position: absolute;
	top: 43px;
	left: 0;
	right: 0;
	height: 20px;
}

.maintenance-alert-title {
	color: #000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.align-middle {
	vertical-align: middle;
}

.text-underline {
	text-decoration: underline;
}

.text-size-80 {
	font-size: 80%;
}

.text-size-85 {
	font-size: 85%;
}

.text-size-90 {
	font-size: 90%;
}

.text-size-110 {
	font-size: 110%;
}

.text-size-125 {
	font-size: 125%;
}

.faded,
.template-row {
	opacity: 0.75;
}

.permission-group,
.external-system-group {
	border: 1px solid #FBE6BB;
	border-radius: 4px;
	margin: 3px 0;
	padding: 3px 10px;
}

.permission-group label,
.external-system-group label,
.permission-group .checkbox.inline,
.external-system-group .checkbox.inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.permission-group-state label:first-child {
	min-width: 120px;
}

.permission-group-franwell label:first-child {
	min-width: 110px;
}

li.k-item.k-state-default.k-tab-on-top.k-state-active {
	font-weight: bold;
}

.popover {
	max-width: none;
	z-index: 100001;
}

.popover .dl-horizontal dt {
	width: 120px;
}

.popover .dl-horizontal dd {
	margin-left: 140px;
	margin-right: 20px;
}

#body_content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

#footer_push,
#footer {
	clear: both;
	color: #FFF;
	height: 30px;
	padding-bottom: 20px;
}

#footer {
	font-size: 80%;
	position: relative;
}

#footer a {
	color: #FFF;
	font-weight: bold;
}

#footer_left,
#footer_center,
#footer_right {
	bottom: 10px;
	position: absolute;
}

#footer_left,
#footer_center {
	left: 25px;
}

#footer_right,
#footer_center {
	right: 25px;
}

#footer_center {
	z-index: 2;
}

#footer_left,
#footer_right {
	z-index: 3;
}

#session_timeout {
	background-color: #444;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	position: fixed;
	z-index: 1000000;
}

#session_timeout_bar {
	-webkit-transition: width 1s ease-in-out, background-color 10s;
	-moz-transition: width 1s ease-in-out, background-color 10s;
	-ms-transition: width 1s ease-in-out, background-color 10s;
	-o-transition: width 1s ease-in-out, background-color 10s;
	transition: width 1s ease-in-out, background-color 10s;
	height: 100%;
	width: 0;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotate270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}