﻿/*
	FILE PURPOSELY NAMED WITH CAPITAL CASE LETTERS!!
	TO GRAB THE NECESSARY ATTENTION!!
*/



/*
	Kendo UI decided to introduce the usage of content-box in v2013.3.1119. (.k-widget * { box-sizing: content-box; })
	This collides with Bootstrap 2.3.2, which sets the "select" element's height to 30px. Bootstrap 3.x uses the
	content-box style, and thus, this fix won't be needed after upgrading to it...but we're not ready for that just yet.
*/
select {
	height: 20px;
}