﻿@using CargoAware.Services.Printer


@model AddEditPrintersModel


<form class="form-horizontal form-condensed" ng-controller="RepeaterCtrl">
	<table class="table table-striped table-condensed">
		<tbody>
			<tr ng-repeat="line in repeaterLines">
				<td>
					<fieldset><legend>Printer # {{$index + 1}}</legend></fieldset>
					@if (!Model.Adding)
					{
						<div class="control-group">
							<label class="control-label">Printer</label>
							<div class="controls">
								<select
									class="validate[required]"
									required
									ng-change="validateSelection(preload.repeaterData.Printers, $index, 'Id', 'Name', true);"
									ng-model="line.Id"
									ng-options="printer.Id as printer.Name for printer in preload.repeaterData.Printers | orderBy:'Name'">
									<option disabled="disabled" selected="selected" value="">- Select -</option>
								</select>
								<input name="model[{{$index}}][Id]" type="hidden" value="{{line.Id}}" />
							</div>
						</div>
					}
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Name]" required type="text" ng-model="line.Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Printer Type</label>
						<div class="controls">
							<select
								class="validate[required]"
								name="model[{{$index}}][Type]"
								required
								ng-model="line.Type">
								<option disabled="disabled" selected="selected" value="">- Select -</option>
								@foreach (var type in Enum.GetNames(typeof(PrinterType)).OrderBy(x => x))
								{
									<option value="@type">@type</option>
								}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
							<label class="checkbox">
								<input
									name="model[{{$index}}][UldDefault]"
									type="checkbox"
									value="true"
									ng-model="line.UldDefault" />
								Default for ULD labels
							</label>
						</div>
					</div>
				</td>
				<td>
					<fieldset>
						<legend class="text-right">
							<button class="btn btn-info" type="button" ng-click="removeLine($index); preload.methods.createNewControls();">
								<span class="icon-minus" ng-hide="repeaterLines.length == 1"></span>
								<span ng-show="repeaterLines.length == 1">(clear)</span>
							</button>
						</legend>
					</fieldset>
					<div class="control-group">
						<label class="control-label">Address</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Address]" required type="text" ng-model="line.Address" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Port</label>
						<div class="controls">
							<input class="validate[required,integer,min[1],max[65535]]" name="model[{{$index}}][Port]" required type="text" ng-model="line.Port" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">External Id.</label>
						<div class="controls">
							<input class="validate[integer]" name="model[{{$index}}][ExternalId]" type="text" ng-model="line.ExternalId" />
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button class="btn btn-info btn-small" type="button" ng-click="addLine(); preload.methods.createNewControls();"><span class="icon-plus"></span></button></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary shadow" type="submit">@(Model.Adding ? "Create" : "Save") Printers</button>
		<button id="cancel" class="btn shadow" type="button">Cancel</button>
	</div>
</form>


<script type="text/javascript">
	(function () {
		window.preload = {
			repeaterData: JSON.parse('@Model.AsJson()'),
			methods: {
				createNewControls: function () {
				}
			}
		};

		franwell.ng.recompileDocument();
		window.preload.methods.createNewControls();
	})();
</script>