﻿@{
	ViewBag.Title = "Printers";
}


<div id="printers-grid"></div>


@section JS {
	<script type="text/javascript">
		var $printersGrid = $('#printers-grid'),

			buttonAdd = franwell.kendo.toolbarButton('Add Printers', function () {
				franwell.kendo.modalWindow(
					'Add Printers', // title
					'@Url.Action("AddEdit", "AdminPrinters")', // partial view URL
					{ // form query
						isModal: true,
						adding: true
					},
					null, // form element selector
					'@Url.ActionApi("Create", "PrintersApi")', // submit URL
					$printersGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),
			buttonEdit = franwell.kendo.toolbarButton('Edit Printers', function () {
				var selectedIds = $printersGrid.franwellGridIds('Id');

				franwell.kendo.modalWindow(
					'Edit Printers', // title
					'@Url.Action("AddEdit", "AdminPrinters")', // partial view URL
					{ // form query
						isModal: true,
						adding: false,
						ids: selectedIds
					},
					null, // form element selector
					'@Url.ActionApi("Update", "PrintersApi")', // submit URL
					$printersGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),

			buttonDiscontinueHandler = function (e) {
				e.preventDefault();

				var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

				if (!confirm('Are you sure you wish to discontinue "' + dataItem.Name + '"?')) {
					return;
				}

				franwell.submitData({
					url: '@Url.ActionApi("Archive", "PrintersApi")',
					data: { '': dataItem.Id },
					success: function () {
						window.printersDataSource.read();
					}
				});
			},

			toolbar = franwell.kendo.toolbar([[
				buttonAdd,
				buttonEdit
			]]),
			
			extendedColumns = franwell.gridcolumns.printers.slice();


		extendedColumns.push({
			command: { text: 'Discontinue', click: buttonDiscontinueHandler },
			attributes: { 'class': 'text-center text-size-80' },
			width: '1px'
		});

		window.printersDataSource = franwell.kendo.serverDataSource({
			url: '@Url.ActionApi("GetPagedList", "PrintersApi")',
			model: franwell.gridschemas.printers
		});
		$printersGrid.franwellGrid({
			dataSource: window.printersDataSource,
			columns: extendedColumns,
			toolbar: toolbar
		});
		window.printersDataSource.read();
	</script>
}