﻿@model AddEditLocationsModel


<form class="form-horizontal form-condensed" ng-controller="RepeaterCtrl">
	<table class="table table-striped table-condensed">
		<tbody>
			<tr ng-repeat="line in repeaterLines">
				<td>
					<fieldset><legend>Location # {{$index + 1}}</legend></fieldset>
					@if (!Model.Adding)
					{
						<div class="control-group">
							<label class="control-label">Location</label>
							<div class="controls">
								<select
									class="validate[required]"
									required
									ng-change="validateSelection(preload.repeaterData.Locations, $index, 'Id', 'Name', true);"
									ng-model="line.Id"
									ng-options="location.Id as location.Name for location in preload.repeaterData.Locations | orderBy:'Name'">
									<option disabled="disabled" selected="selected" value="">- Select -</option>
								</select>
								<input name="model[{{$index}}][Id]" type="hidden" value="{{line.Id}}" />
							</div>
						</div>
					}
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Name]" required type="text" ng-model="line.Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Axis</label>
						<div class="controls">
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][AxisDirection]" required type="radio" value="@AxisDirection.Normal" ng-model="line.AxisDirection" />
								<span class="axis-display">
									X <span class="icon-resize-horizontal"></span><br />
									Y <span class="icon-resize-vertical"></span>
								</span>
								Normal
							</label>
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][AxisDirection]" required type="radio" value="@AxisDirection.Inverted" ng-model="line.AxisDirection" />
								<span class="axis-display">
									X <span class="icon-resize-vertical"></span><br />
									Y <span class="icon-resize-horizontal"></span>
								</span>
								Inverted
							</label>
						</div>
					</div>
				</td>
				<td>
					<fieldset>
						<legend class="text-right">
							<button class="btn btn-info" type="button" ng-click="removeLine($index); preload.methods.createNewControls();">
								<span class="icon-minus" ng-hide="repeaterLines.length == 1"></span>
								<span ng-show="repeaterLines.length == 1">(clear)</span>
							</button>
						</legend>
					</fieldset>
					<div class="control-group">
						<label class="control-label">API Key</label>
						<div class="controls">
							<span class="uneditable-input span8">@(Model.Adding ? "automatically generated" : "{{line.ApiKey}}")</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Origin</label>
						<div class="controls">
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][OriginLocation]" required type="radio" value="@OriginLocation.TopLeft" ng-model="line.OriginLocation" />
								<span class="origin-display">
									<span class="icon-map-marker"></span><span class="icon-th"></span><br />
									<span class="icon-th"></span><span class="icon-th"></span>
								</span>
								Top-Left
							</label>
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][OriginLocation]" required type="radio" value="@OriginLocation.TopRight" ng-model="line.OriginLocation" />
								<span class="origin-display">
									<span class="icon-th"></span><span class="icon-map-marker"></span><br />
									<span class="icon-th"></span><span class="icon-th"></span>
								</span>
								Top-Right
							</label>
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][OriginLocation]" required type="radio" value="@OriginLocation.BottomRight" ng-model="line.OriginLocation" />
								<span class="origin-display">
									<span class="icon-th"></span><span class="icon-th"></span><br />
									<span class="icon-th"></span><span class="icon-map-marker"></span>
								</span>
								Bottom-Right
							</label>
							<label class="radio">
								<input class="validate[required]" name="model[{{$index}}][OriginLocation]" required type="radio" value="@OriginLocation.BottomLeft" ng-model="line.OriginLocation" />
								<span class="origin-display">
									<span class="icon-th"></span><span class="icon-th"></span><br />
									<span class="icon-map-marker"></span><span class="icon-th"></span>
								</span>
								Bottom-Left
							</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button class="btn btn-info btn-small" type="button" ng-click="addLine(); preload.methods.createNewControls();"><span class="icon-plus"></span></button></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary shadow" type="submit">@(Model.Adding ? "Create" : "Save") Locations</button>
		<button id="cancel" class="btn shadow" type="button">Cancel</button>
	</div>
</form>


<script type="text/javascript">
	(function () {
		window.preload = {
			repeaterData: JSON.parse('@Model.AsJson()'),
			methods: {
				createNewControls: function () {
				}
			}
		};

		franwell.ng.recompileDocument();
		window.preload.methods.createNewControls();
	})();
</script>