﻿@model UserProfileModel


@{
	ViewBag.Title = "User Profile";
	ViewBag.HideFacilities = true;
	ViewBag.PasswordFieldValidationAttributes = "class=\"validate[";
	if (Model.MustSetPassword)
	{
		ViewBag.PasswordFieldValidationAttributes += "required,";
		ViewBag.PasswordFieldRequiredAttributes = "required";
	}
	ViewBag.PasswordFieldValidationAttributes +=
		(!Html.IsDebug() ? "minSize[8],custom[complexPassword]" : "") +
		"]\"";
        /*probando check in git*/
        
}


@section Css {
	<style type="text/css">
		.personal-info,
		.security-info,
		.default-uom,
		.default-gridrows {
			width: 425px;
		}
		@@media (min-width: 900px) {
			.personal-info,
			.default-uom {
				float: right;
			}
			.security-info,
			.default-gridrows {
				float: left;
			}
		}
	</style>
}


<form action="@Url.ActionApi("UpdateUserProfile", "UsersApi")" class="form-horizontal" method="post">
	@if (Model.MustSetPassword)
	{
		<div class="alert alert-error text-center">
			<h4>Profile update required</h4>
			<strong>You must change your password!</strong>
		</div>
	}

	<h3 class="text-center muted">Personal & Security Info.</h3>
	<div class="row-fluid">
		<div class="span12">
			<div class="personal-info">
				<div>
					<dl class="dl-horizontal">
						<dt>Full Name</dt>
						<dd>@Model.FullName</dd>
					</dl>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input
							class="validate[required,custom[email]]"
							name="model[Email]"
							required
							type="text"
							value="@Model.Email" />
					</div>
				</div>
			</div>
		</div>
		<div class="span12">
			<div class="security-info">
				<div>
					<dl class="dl-horizontal">
						<dt>Username</dt>
						<dd>@Model.Username</dd>
					</dl>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls">
						<input
							id="password"
							name="model[Password]"
							type="password"
							@ViewBag.PasswordFieldValidationAttributes
							@ViewBag.PasswordFieldRequiredAttributes
							data-prompt-position="topLeft" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Confirm Password</label>
					<div class="controls">
						<input
							id="password_confirm"
							name="model[PasswordConfirmation]"
							type="password"
							@ViewBag.PasswordFieldRequiredAttributes />
						<div class="js-password-mismatch alert alert-error" style="display: none;">
							<i class="icon-exclamation-sign"></i> Password and Confirm Password must match!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3 class="text-center muted">Password Recovery</h3>
	<div class="row-fluid">
		<div class="control-group">
			<label class="control-label">Security Question</label>
			<div class="controls">
				<input
					class="span22 validate[required]"
					name="model[SecurityQuestion]"
					required
					type="text"
					value="@Model.SecurityQuestion"
					data-prompt-position="topLeft">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Security Answer</label>
			<div class="controls">
				<input
					id="security_answer"
					autocomplete="off"
					class="span22 validate[required]"
					name="model[SecurityAnswer]"
					required
					spellcheck="false"
					type="password"
					value="@Model.SecurityAnswer"
					data-prompt-position="topLeft">
				<label class="checkbox">
					<input id="view_securityanswer" type="checkbox" value="true" />
					<small>View Security Answer</small>
				</label>
			</div>
		</div>
	</div>

	@*<h3 class="text-center muted">Site Preferences <small>(coming soon)</small></h3>
	<div class="row-fluid">
		<div class="span12">
			<div class="default-uom">
				<div class="control-group">
					<label class="control-label">Unit of Measure</label>
					<div class="controls">
						<select name="model[DefaultUnitOfMeasure]"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="span12">
			<div class="default-gridrows">
				<div class="control-group">
					<label class="control-label">Grid Page Rows</label>
					<div class="controls">
						<select name="model[DefaultGridPageRows]"></select>
					</div>
				</div>
			</div>
		</div>
	</div>*@

	<div class="form-actions">
		<div class="offset7">
			<button class="btn btn-success shadow" type="submit">Save Profile</button>
			<button class="btn shadow" type="reset">Undo Changes</button>
		</div>
	</div>
</form>


@section JS {
	@* Startup *@
	<script type="text/javascript">
		var $passwordInputs = $('#password,#password_confirm'),
			$password = $passwordInputs.eq(0),
			$passwordConfirm = $passwordInputs.eq(1),
			$passwordMismatch = $('.js-password-mismatch'),
			$securityAnswer = $('#security_answer'),
			$viewSecurityAnswer = $('#view_securityanswer');

		$passwordInputs.on('change keyup', function () {
			if (!$password.val() && !$passwordConfirm.val()) {
				return;
			}

			if ($password.val() === $passwordConfirm.val()) {
				$passwordMismatch.hide();
			} else {
				$passwordMismatch.show();
			}
		});

		$viewSecurityAnswer.change(function () {
			if ($viewSecurityAnswer.is(':checked')) {
				$securityAnswer.attr('type', 'text');
			} else {
				$securityAnswer.attr('type', 'password');
			}
		});

		$.extend($.validationEngineLanguage.allRules, {
			'complexPassword': {
				'regex': /@PasswordValidation.GetComplexityRegex()/,
				'alertText': '* Password must contain a minimum of one upper case letter, one lower case, one digit, and one special symbol'
			}
		});

		$('form').franwellActivateAjaxForm({
			success: function () {
				window.location = '@Url.Content("~")';
			}
		});
	</script>
}