﻿@model AddEditRegionManagerRegionsModel


<form class="form-horizontal form-condensed" ng-controller="RepeaterCtrl">
	<table class="table table-striped table-condensed">
		<tbody>
			<tr ng-repeat="line in repeaterLines">
				<td>
					<fieldset><legend>Region # {{$index + 1}}</legend></fieldset>
					@if (!Model.Adding)
					{
						<div class="control-group">
							<label class="control-label">Region</label>
							<div class="controls">
								<select
									class="validate[required]"
									required
									ng-change="validateSelection(preload.repeaterData.Regions, $index, 'Id', 'Name', true);"
									ng-model="line.Id"
									ng-options="region.Id as region.Name for region in preload.repeaterData.Regions | orderBy:'Name'">
									<option disabled="disabled" selected="selected" value="">- Select -</option>
								</select>
								<input name="model[{{$index}}][Id]" type="hidden" value="{{line.Id}}" />
							</div>
						</div>
					}
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Name]" required type="text" ng-model="line.Name" />
						</div>
					</div>
				</td>
				<td>
					<fieldset>
						<legend class="text-right">
							<button class="btn btn-info" type="button" ng-click="removeLine($index); preload.methods.createNewControls();">
								<span class="icon-minus" ng-hide="repeaterLines.length == 1"></span>
								<span ng-show="repeaterLines.length == 1">(clear)</span>
							</button>
						</legend>
					</fieldset>
					<div class="control-group">
						<label class="control-label">ID</label>
						<div class="controls">
							<input class="validate[required] span8" name="model[{{$index}}][RegionId]" required type="text" ng-model="line.RegionId" />
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3"><button class="btn btn-info btn-small" type="button" ng-click="addLine(); preload.methods.createNewControls();"><span class="icon-plus"></span></button></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary shadow" type="submit">@(Model.Adding ? "Create" : "Save") Regions</button>
		<button id="cancel" class="btn shadow" type="button">Cancel</button>
	</div>
</form>


<script type="text/javascript">
	(function () {
		window.preload = {
			repeaterData: JSON.parse('@Model.AsJson()'),
			methods: {
				createNewControls: function () {
				}
			}
		};

		franwell.ng.recompileDocument();
		window.preload.methods.createNewControls();
	})();
</script>