﻿/* Attempt to condense the default AngularUI DatePicker */
ul.dropdown-menu[datepicker-popup-wrap] {
	z-index: 15000;
}
ul.dropdown-menu[datepicker-popup-wrap] table {
	font-size: 80%;
}
ul.dropdown-menu[datepicker-popup-wrap] table .btn {
	font-size: 105%;
	padding: 3px 6px;
}
ul.dropdown-menu[datepicker-popup-wrap] th,
ul.dropdown-menu[datepicker-popup-wrap] td {
	padding: 0;
	text-align: center;
}
/*
	We want to hide all controls, except the day/month/year buttons:
	Because IE8 doesn't support anything other than :first-child,
	we first "hide" all of the list items, and then show the first one only.
*/
ul.dropdown-menu[datepicker-popup-wrap] li {
	display: none;
}
ul.dropdown-menu[datepicker-popup-wrap] li:first-child {
	display: list-item;
}

/* Attempt to condense the default AngularUI TimePicker */
div.timepicker > table td {
	padding: 0 2px;
	vertical-align: middle;
}
div.timepicker > table a.btn.btn-link {
	padding: 0 8px;
}
/*
	The custom 24 Bootstrap spans/columns cause the TimePicker textboxes
	to be too short, and the number cannot be seen entirely.
*/
div.timepicker > table input.span1 {
	padding: 2px 4px;
	width: 25px;
}