﻿@* Upload *@
<script type="text/javascript">
	window.existingFiles = [];
		
	var removeMultipleAttribute = function () {
		@*
			// kendoUpload control continuously adds new <input type="file" /> elements
			// We must always find the one tagged #upload_control and remove the attribute
		*@
		setTimeout(function () {
			$('#upload_control').removeAttr('multiple');
		}, 500);
	},
	findExistingFileName = function (kendoUploadFiles, namesList, nameGetterFn) {
		var fileName,
			fileNameLower,
			itemName;

		for (var i = 0, icnt = kendoUploadFiles.length; i < icnt; i++) {
			fileName = kendoUploadFiles[i].name;
			fileNameLower = fileName.toLowerCase();

			for (var x = 0, xcnt = namesList.length; x < xcnt; x++) {
				itemName = nameGetterFn(namesList[x]);
				if (fileNameLower === itemName) {
					return fileName;
				}
			}
		}

		return null;
	},
	prepareUploadControl = function () {
		var $airWaybill = $('#regionmanager_airwaybill'),
			$flightNumber = $('#regionmanager_flightnumber'),
			$flightDate = $('#regionmanager_flightdate'),
			$uld = $('#regionmanager_uld'),
			$uldTagEpc = $('#regionmanager_uldtagepc');

		$('#upload_control').kendoUpload({
			async: {
				saveUrl: '@Url.ActionApi("RegionManager", "DataImportApi")',
				removeUrl: '@Url.ActionApi("Noop", "SystemApi")',
				autoUpload: false
			},
			select: function (e) {
				if (e.files.length > 1) {
					alert('At the current stage, we do not handle selecting multiple files at once. Please select only one file at a time.');
					removeMultipleAttribute();
					e.preventDefault();
					return;
				}

				var fileName = findExistingFileName(e.files, window.existingFiles, function (entry) {
					return entry;
				});

				if (fileName) {
					alert('The selected file (' + fileName + ') is in the current uploads list.');
					e.preventDefault();
				} else {
					for (var i = 0, icnt = e.files.length; i < icnt; i++) {
						window.existingFiles.push(e.files[i].name.toLowerCase());
					}
				}

				removeMultipleAttribute();
			},
			remove: function (e) {
				for (var i = e.files.length - 1; i >= 0; i--) {
					var fileNameLower = e.files[i].name.toLowerCase();

					for (var x = 0, xcnt = window.existingFiles.length; x < xcnt; x++) {
						if (fileNameLower === window.existingFiles[x]) {
							window.existingFiles.splice(x, 1);
							break;
						}
					}
				}
			},
			upload: function (e) {
				var validationResult = $('#regionmanager_form').validationEngine('validate');
				if (!validationResult) {
					e.preventDefault();
					return;
				}

				e.sender.options.async.saveUrl = '@Url.ActionApi("RegionManager", "DataImportApi")?' +
					'flightNumber=' + $flightNumber.val() +
					'&flightDate=' + $flightDate.val() +
					'&airWaybill=' + $airWaybill.val() +
					'&uld=' + $uld.val() +
					'&uldTagEpc=' + $uldTagEpc.val();

				var xhr = e.XMLHttpRequest;
				xhr.addEventListener('readystatechange', function () {
					if (xhr.readyState === 1) { // OPENED
						xhr.setRequestHeader(
							'@ApiValidateAntiForgeryToken.TokenName',
							'@AntiForgeryHelper.GetTokenHeaderValue()');
					}
				});
			},
			error: function (e) {
				var responseObject = JSON.parse(e.XMLHttpRequest.response),
					$xmlResponse = $(e.XMLHttpRequest.responseXML),
					message = responseObject.Message || $xmlResponse.find('Message').text(),
					exceptionType = responseObject.ExceptionType || $xmlResponse.find('ExceptionType').text(),
					exceptionMessage = responseObject.ExceptionMessage || $xmlResponse.find('ExceptionMessage').text(),
					stackTrace = responseObject.StackTrace || $xmlResponse.find('StackTrace').text();

				franwell.ServerErrors({
					Message: message,
					ExceptionType: exceptionType,
					ExceptionMessage: exceptionMessage,
					StackTrace: stackTrace
				});
			},
			complete: function () {
			}
		});

		removeMultipleAttribute();
	};

	prepareUploadControl();
</script>