﻿<h3>Region Manager</h3>
<div id="sales_accordion" class="accordion well">
	<div class="alert">
		<strong class="text-error">Please be sure to select the correct files before uploading!</strong>
		<ul>
			<li>All uploaded files will be <strong>imported automatically!</strong></li>
			<li>Once a file is uploaded, <strong>it cannot be removed!</strong></li>
			<li>Once a file is imported, <strong>its data cannot be removed automatically!</strong></li>
			<li>All files will be scanned by antivirus software.</li>
			<li>
				The import process requires the following columns:
				<ul>
					<li>tag_id</li>
					<li>x_location</li>
					<li>y_location</li>
					<li>z_location</li>
					<li>locate_time</li>
				</ul>
			</li>
		</ul>
	</div>
	<div>
		<form id="regionmanager_form" class="form-horizontal form-condensed">
			<table class="table table-striped table-condensed">
				<tbody>
					<tr>
						<td class="span5">
							<div class="control-group">
								<label class="control-label">Air Waybill</label>
								<div class="controls">
									<input id="regionmanager_airwaybill" class="validate[required]" required type="text" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Flight Number</label>
								<div class="controls">
									<input id="regionmanager_flightnumber" class="validate[required]" required type="text" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Flight Date</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on"><span class="icon-calendar"></span></span>
										<input
											id="regionmanager_flightdate"
											class="validate[required] span12"
											placeholder="yyyy-MM-dd"
											required
											type="text" />
									</div>
								</div>
							</div>
						</td>
						<td>
							<div class="control-group">
								<label class="control-label">ULD</label>
								<div class="controls">
									<input id="regionmanager_uld" type="text" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Uld Tag</label>
								<div class="controls">
									<input id="regionmanager_uldtagepc" type="text" />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div>
		<p class="muted">Supported file types are: CSV and TXT</p>
		<input id="upload_control" accept=".csv,.txt" name="uploadFiles" type="file" />
	</div>
</div>