﻿@{
	ViewBag.Title = "Diagnostics";
	ViewBag.HideLocations = true;
}


@section Css {
	<style type="text/css">
		.map {
			width: 1000px;
		}
	</style>
}


<div class="tabbable">
	<ul class="nav nav-tabs">
		@foreach (var location in User.Locations)
		{
			<li><a href="#map-@location.Id-tab" data-toggle="tab">@location.Name</a></li>
		}
	</ul>
	<div class="tab-content">
		@foreach (var location in User.Locations)
		{
			<div id="map-@location.Id-tab" class="tab-pane">
				<div class="map centered">
					<canvas class="js-zones-canvas" data-location-id="@location.Id" width="1000"></canvas>
					<div class="mouse-coords">
						Mouse:
						<span id="mousecoords-@location.Id-x">-</span>,
						<span id="mousecoords-@location.Id-y">-</span>
					</div>
					<div>
						<input class="js-time-slider js-time-slider-template" data-location-id="@location.Id" style="display: none; width: 1000px;" type="text" />
					</div>
				</div>
			</div>
		}
	</div>
</div>
<div id="shipments-grid"></div>


@section JS {
	<script src="~/Public/javascripts/app/map-display.js" type="text/javascript"></script>
	<script type="text/javascript">
		(function () {
			var $zonesCanvas = $('.js-zones-canvas'),
				$shipmentsGrid = $('#shipments-grid'),

				getLocationProperty = function (locationId) {
					return 'location' + locationId;
				},
				traverseShipmentsMapData = function (work) {
					for (var locationProperty in window.shipmentsMapData) {
						if (!window.shipmentsMapData.hasOwnProperty(locationProperty)) continue;
						work(window.shipmentsMapData[locationProperty]);
					}
				},
				refreshZonesCanvas = function () {
					var work = function (locationId, zonesCanvasElement) {
						var locationProperty = getLocationProperty(locationId),
							locationData = window.shipmentsMapData[locationProperty];

						if (locationData) {
							var canvasHeight = zonesCanvasElement.height,
								redrawMap = function () {
									franwell.mapDisplay.prepareMapZones(zonesCanvasElement, locationData);
									franwell.mapDisplay.plotTagReads(
										zonesCanvasElement,
										locationData,
										locationData.playIndex !== 0
											? locationData.timestamps[locationData.playIndex]
											: locationData.shipments);
								};

							locationData.playIndex = 0;
							franwell.mapDisplay.setCanvasDimensions(zonesCanvasElement, locationData);
							if (zonesCanvasElement.height !== canvasHeight || !locationData.panZoomCanvasContext) {
								locationData.panZoomCanvasContext = franwell.mapDisplay.getPanZoomCanvasContext(zonesCanvasElement, redrawMap);
							}

							redrawMap();

							franwell.mapDisplay.prepareMouseInteractions(
								zonesCanvasElement,
								'#mousecoords-' + locationId + '-x',
								'#mousecoords-' + locationId + '-y',
								locationData,
								redrawMap);
							franwell.mapDisplay.prepareTimeSlider(
								'.js-time-slider-template[data-location-id="' + locationId + '"]',
								'js-time-slider-template',
								'js-time-slider',
								locationData.timestamps,
								function (e) {
									locationData.playIndex = e.value;
									redrawMap();
								});
						} else {
							franwell.submitData({
								url: '@Url.ActionApi("GetDetails", "LocationZonesApi")?locationId=' + locationId,
								success: function (data) {
									data.shipments = [];
									data.timestamps = [];
									window.shipmentsMapData[locationProperty] = data;
									work(locationId, zonesCanvasElement);
								}
							});
						}
					};

					$zonesCanvas.each(function (index, zonesCanvasElement) {
						var locationId = $(zonesCanvasElement).data('location-id');
						work(locationId, zonesCanvasElement);
					});
				},
				displayShipments = function (shipmentIds) {
					var shipmentsLeft = shipmentIds.length;

					traverseShipmentsMapData(function (locationData) {
						var _shipments = locationData.shipments;
						for (var _i = _shipments.length - 1; _i >= 0; _i--) {
							for (var _s = 0, _scnt = shipmentsLeft; _s < _scnt; _s++) {
								if (_shipments[_i].shipmentId !== shipmentIds[_s]) continue;
								_shipments.splice(_i, 1);
							}
						}
					});

					franwell.submitData({
						url: '@Url.ActionApi("GetTagReads", "ShipmentsApi")?playbackTrail=' + window.shipmentsMapConfig.playbackTrail +
							'&smoothing=' + window.shipmentsMapConfig.smoothingFormula,
						data: { '': shipmentIds },
						success: function (data) {
							var _locationsShipments = data.ByLocation,
								_locationsTimestamps = data.ByLocationAndTimestamp,
								_locationProperty,
								_locationShipments, _shipmentId, _shipmentData,
								_locationTimestamps, _timestampShipments;

							for (var _locationId in _locationsShipments) {
								if (!_locationsShipments.hasOwnProperty(_locationId)) continue;

								_locationProperty = getLocationProperty(_locationId);
								if (!window.shipmentsMapData.hasOwnProperty(_locationProperty)) continue;

								_locationShipments = _locationsShipments[_locationId];
								for (_shipmentId in _locationShipments) {
									if (!_locationShipments.hasOwnProperty(_shipmentId)) continue;

									_shipmentData = _locationShipments[_shipmentId];
									window.shipmentsMapData[_locationProperty].shipments.push({
										shipmentId: _shipmentId,
										tagReads: _shipmentData
									});
								}

								_locationTimestamps = _locationsTimestamps[_locationId];
								for (var _timestamp in _locationTimestamps) {
									if (!_locationTimestamps.hasOwnProperty(_timestamp)) continue;

									var __shipments = [];
									_timestampShipments = _locationTimestamps[_timestamp];
									for (_shipmentId in _timestampShipments) {
										if (!_locationShipments.hasOwnProperty(_shipmentId)) continue;

										_shipmentData = _timestampShipments[_shipmentId];
										__shipments.push({
											shipmentId: _shipmentId,
											tagReads: _shipmentData
										});
									}

									window.shipmentsMapData[_locationProperty].timestamps.push(__shipments);
								}
							}

							refreshZonesCanvas();
						}
					});
				},
				clearShipments = function () {
					traverseShipmentsMapData(function (locationData) {
						locationData.shipments = [];
						locationData.timestamps = [];
					});
				},

				buttonViewSelected = franwell.kendo.toolbarButton('View Selected', function () {
					var selectedIds = $shipmentsGrid.franwellGridIds('Id');
					clearShipments();
					displayShipments(selectedIds);
				}),
				buttonViewAll = franwell.kendo.toolbarButton('View All', function () {
					var shipments = window.shipmentsDataSource.data(),
						shipmentIds = [];

					for (var _i = 0, _icnt = shipments.length; _i < _icnt; _i++) {
						shipmentIds.push(shipments[_i].Id);
					}
					clearShipments();
					displayShipments(shipmentIds);
				}),
				buttonClearMap = franwell.kendo.toolbarButton("Clear Map", function () {
					clearShipments();
					refreshZonesCanvas();
				}),
				textboxPlaybackTrail = franwell.kendo.toolbarTextbox('Playback Trail', 35, '10', function () {
					window.shipmentsMapConfig.playbackTrail = new Number(this.value);
				}),
				radioSmoothingNone = franwell.kendo.toolbarRadio('None', 'SmoothingFormula', true, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.None';
				}),
				radioSmoothingMovingAverage = franwell.kendo.toolbarRadio('MovAvg', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.SimpleMovingAverage';
				}),
				radioSmoothingExponentialMovingAverage = franwell.kendo.toolbarRadio('Exp. MovAvg', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.ExponentialMovingAverage';
				}),
				radioSmoothingMedian = franwell.kendo.toolbarRadio('Median', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.Median';
				}),
				radioSmoothingTakacsTimeBased = franwell.kendo.toolbarRadio('Takacs (Time)', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.TakacsTimeBased';
				}),
				radioSmoothingTakacsTimeBasedWithAvg = franwell.kendo.toolbarRadio('+Avg', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.TakacsTimeBasedWithAverage';
				}),
				radioSmoothingTakacsPointsBased = franwell.kendo.toolbarRadio('Takacs (Pts)', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.TakacsPointsBased';
				}),
				radioSmoothingTakacsPointsBasedWithAvg = franwell.kendo.toolbarRadio('+Avg', 'SmoothingFormula', false, function () {
					if (!this.checked) return;
					window.shipmentsMapConfig.smoothingFormula = '@SmoothingFormula.TakacsPointsBasedWithAverage';
				}),

				buttonViewHandler = function (e) {
					e.preventDefault();

					var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

					clearShipments();
					displayShipments([dataItem.Id]);
				},

				toolbar = franwell.kendo.toolbar([[
					buttonViewSelected,
					buttonViewAll
				], [
					buttonClearMap
				], [
					textboxPlaybackTrail,
				], [
					radioSmoothingNone,
					radioSmoothingMovingAverage,
					radioSmoothingExponentialMovingAverage,
					radioSmoothingMedian,
					radioSmoothingTakacsTimeBased,
					radioSmoothingTakacsTimeBasedWithAvg,
					radioSmoothingTakacsPointsBased,
					radioSmoothingTakacsPointsBasedWithAvg
				]]),

				extendedColumns = franwell.gridcolumns.shipments.slice();


			window.shipmentsMapData = {};
			window.shipmentsMapConfig = {};

			extendedColumns.push({
				command: { text: 'View', click: buttonViewHandler },
				attributes: { 'class': 'text-center text-size-80' },
				width: '1px'
			});

			window.shipmentsDataSource = franwell.kendo.serverDataSource({
				url: '@Url.ActionApi("GetPagedList", "ShipmentsApi")',
				model: franwell.gridschemas.shipments
			});
			$shipmentsGrid.franwellGrid({
				dataSource: window.shipmentsDataSource,
				columns: extendedColumns,
				toolbar: toolbar,
				detailTemplate: '<div class="js-awbtagreads-grid"></div>',
				detailInit: function (e) {
					var awbTagReadsDataSource = franwell.kendo.serverDataSource({
						url: '@Url.ActionApi("GetPagedTagReads", "ShipmentsApi")?id=' + e.data.Id,
						model: franwell.gridschemas.tagReads
					});
					e.detailRow.find('.js-awbtagreads-grid')
						.removeClass('js-awbtagreads-grid')
						.franwellGrid({
							dataSource: awbTagReadsDataSource,
							columns: franwell.gridcolumns.tagReads
						});
					awbTagReadsDataSource.read();
				}
			});
			window.shipmentsDataSource.read();
			refreshZonesCanvas();
		})();
	</script>
}