﻿ @using StackExchange.Profiling


<!DOCTYPE html>

@* http://www.paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" ng-app="globalApp"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en" ng-app="globalApp"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en" ng-app="globalApp"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="globalApp">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1280">
	<title>@ViewBag.Title | CargoAware</title>

	@Html.Partial("FaviconPartial")

	<link href="~/Public/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/bootstrap/bootstrap-overrides.css" rel="stylesheet" type="text/css" />
	@*<link href="~/Public/stylesheets/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/bootstrap/bootstrap-responsive-extended.css" rel="stylesheet" type="text/css" />*@
	<link href="~/Public/stylesheets/jquery/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/angularui/overrides.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/site.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/TEMPORARY-FIXES.css" rel="stylesheet" type="text/css" />

	@RenderSection("Css", false)
</head>
<body>
	<!--[if lt IE 8]><p>Your browser is <em>outdated!</em> <a href="http://whatbrowser.org/">Pleae upgrade to a newer browser</a> in order for this site to function properly.</p><![endif]-->

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				@* This button will be displayed when the navbar is collapsed *@
				<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="~/" target="_top">
					<img alt="CargoAware" title="CargoAware" src="~/Public/images/logo-xsmall.png" />
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						@Html.NavigationMenu(User)
					</ul>
					<ul class="nav pull-right">
						@Html.ImportExportMenu(User)
						@Html.SupportMenu(User)
						@Html.UserMenu(User)
					</ul>
				</div>
			</div>
		</div>
	</div>

	@MiniProfiler.RenderIncludes(RenderPosition.Right)

	<div id="body_content" class="container-fluid">
		<div id="user-alerts" class="shadow"></div>
		<div id="session_timeout_alert" class="alert text-center shadow">
			<h2>Your session will time out...</h2>
			<h4><span class="icon-time"></span> in approximately <span id="session_timeleft"></span></h4>
			<div style="margin-top: 15px;">
				<button id="extend_session" class="btn btn-success btn-large shadow" type="button">Extend session</button>
				<button id="logout_session" class="btn btn-danger btn-large shadow" type="button">Log out</button>
			</div>
		</div>
		<div>
			@if (ViewBag.HideLocations == null || !ViewBag.HideLocations)
			{
				@Html.LocationsDropdown(User)
			}
			<h2 class="title">@ViewBag.Title</h2>
			<div class="row-fluid">
				<div class="well shadow span24">
					@RenderBody()
				</div>
			</div>
		</div>
		<div id="footer_push"></div>
	</div>

	<div id="footer" class="text-center">
		<div id="footer_left"></div>
		<div id="footer_center">
			@Html.Partial("CopyrightPartial")
		</div>
		<div id="footer_right">
			@Html.Partial("AppVersionPartial")
		</div>
	</div>

	<div id="session_timeout">
		<div id="session_timeout_bar"></div>
	</div>

	@* Scripts that don't change often. *@
	<script src="~/Public/javascripts/vendor/es5-shim.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/consolelog.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="~/Public/javascripts/vendor/jquery-1.11.0.min.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="~/Public/javascripts/vendor/jquery-2.1.0.min.js" type="text/javascript"></script>
	<!--<![endif]-->
	<script src="~/Public/javascripts/vendor/jquery.serialize-object.compiled.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/jquery.validationEngine.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/jquery.validationEngine-en.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/angular.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/bootstrap.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/ui-bootstrap-tpls-0.8.0.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/kendo.web.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/spin.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/moment.min.js" type="text/javascript"></script>

	@* Our JS *@
	<script src="~/Public/javascripts/app/extensions.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.format.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.angularjs.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.bootstrap.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.gridcolumns.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/app/franwell.kendo.js" type="text/javascript"></script>
	 
	<script type="text/javascript">
		(function(){
			$.ajaxSetup({
				headers: { '@ApiValidateAntiForgeryToken.TokenName': '@AntiForgeryHelper.GetTokenHeaderValue()' }
			});

			@*
				// Temporary fix for Bootstrap 2.3.2 on touch devices for submenus
				// (submenus close before the redirect happens)
			*@
			$('.dropdown-submenu ul.dropdown-menu li a').on('touchstart', function(e) {
				e.preventDefault();
				window.location.href = $(this).attr('href');
			});

			$('#forced_page_reload').click(function () { window.location.reload(true); });

			franwell.MonitorUserSession(
				'@Constants.TimeoutCookieName',
				@FormsAuthentication.Timeout.TotalMilliseconds,
				'@Url.ActionApi("Noop", "SystemApi")',
				'@Url.Action("LogOut", "Sessions")?timeout=1');
			franwell.UpdateableTimers();
		})();
	</script>

	@if (ApplicationEnvironment.IsRunningProduction)
	{
		@Html.Partial("PiwikScriptPartial")
	}

	@RenderSection("JS", false)
</body>
</html>